@import "tailwindcss";

@theme inline {
  --color-dark-100: #000;
  --color-dark-200: #333;
  --color-primary-100: #c3e4ff;
  --color-primary-200: #1a253b;
  --color-secondary-100: #edf7ff;
  --color-secondary-200: #edf7ff1a;
  --color-secondary-300: #edf7ff0d;
  --color-line-100: #0000001a;

  --font-inter: "Inter";
  --font-urbanist: "Urbanist";

  --breakpoint-xs: 30rem;
}

@layer base {
  body {
    @apply text-dark-100 font-inter leading-normal;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-urbanist leading-normal;
  }

  h1 {
    @apply text-4xl lg:text-5xl;
  }
  h2 {
    @apply text-3xl md:text-4xl;
  }
  h3 {
    @apply text-3xl;
  }
  h4 {
    @apply text-2xl;
  }
  h5 {
    @apply text-lg font-medium;
  }
  h6 {
    @apply text-base/relaxed;
  }

  small {
    @apply text-sm
  }

  section {
    @apply mb-15 md:mb-20 lg:mb-25 xl:mb-30 relative
  }

  
  input, textarea {
    @apply w-full h-auto py-3 px-4 outline-1 rounded-sm resize-none outline-dark-100;
  }


  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    @apply hidden m-0;
    -webkit-appearance: none;
  }
}

@layer components {
  .wrapper {
    @apply px-5 max-w-[1336px] mx-auto;
  }

  .btn-primary {
    @apply bg-primary-200 py-3 px-7 rounded-4xl text-center text-secondary-100 border-1 border-primary-200 font-medium hover:border-dark-100 hover:text-dark-200 hover:bg-transparent transition-all duration-300 w-fit max-xs:self-center capitalize cursor-pointer; 
  }

  .mobile-nav {
    @apply absolute top-0 left-0 w-full bg-secondary-100 z-10 flex flex-col gap-6 items-center px-5 pt-10 transition-all duration-500 transform ease-in-out font-medium text-base lg:hidden;
  }

  .counter {
    @apply font-light leading-tight mb-0.5 text-2xl lg:text-3xl font-urbanist;
  }

  .img-zoom {
    @apply object-cover w-full h-full transition-all duration-1000 ease-out transform-gpu group-hover:scale-103
  }

  .social {
    @apply flex items-center justify-center hover:bg-secondary-200 border-1 border-secondary-200 hover:border-secondary-300 rounded-full transition duration-300
  }

  .footer-link {
    @apply hover:text-primary-100 transition duration-300
  }
  
}
